// COLOR 
:root{
  --light: #FFFFFF;
  --dark: #000000;
  --grey: #646464;
  --teal: #00445B;
  --light-yellow: #FDB44B;
  --linear: linear-gradient(124.06deg, #ECFEFA 9.47%, #BEE9FF 29.35%, #DBEAFF 60.79%, #F3DBFF 85.49%);
}