.enroll-button {
  padding: 25px 48px;
  border: none;
  background-color: var(--teal);
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.02em;
  color: var(--light);
  text-transform: uppercase;
}